// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// Responsive font sizes for slider on mobile devices
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem !important;
  }
  
  .hero-lead {
    font-size: 1rem !important;
  }
  
  .wg-hero h1 {
    font-size: 2rem !important;
  }
  
  .wg-hero p {
    font-size: 1rem !important;
  }
}
