{{- define "main" -}}
<article class="article article-author">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 section-heading">
        {{ if .Params.avatar }}
        <div class="avatar-circle mb-3">
          {{ $avatar := (.Resources.ByType "image").GetMatch (.Params.avatar | default "avatar.*") }}
          {{ if $avatar }}
          <img class="avatar" src="{{ $avatar.RelPermalink }}" alt="{{ .Title }}">
          {{ end }}
        </div>
        {{ end }}
        
        <h1>{{ .Title }}</h1>
        
        {{ with .Params.role }}
        <h3>{{ . }}</h3>
        {{ end }}
        
        {{ with .Params.organizations }}
        <ul class="ul-org">
          {{ range . }}
          <li>
            {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
            {{ .name }}
            {{ with .url }}</a>{{ end }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      
      <div class="col-12 col-lg-9">
        {{ with .Params.bio }}
        <p class="article-metadata">{{ . }}</p>
        {{ end }}
        
        <div class="article-style">
          {{ .Content }}
        </div>
        
        <div class="row">
          {{ with .Params.interests }}
          <div class="col-md-5">
            <h3>Interests</h3>
            <ul class="ul-interests">
              {{ range . }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
          
          {{ with .Params.education }}
          <div class="col-md-7">
            <h3>Education</h3>
            <ul class="ul-edu fa-ul">
              {{ range .courses }}
              <li>
                <i class="fa-li fas fa-graduation-cap"></i>
                <div class="description">
                  <p class="course">{{ .course }}{{ with .year }}, {{ . }}{{ end }}</p>
                  <p class="institution">{{ .institution }}</p>
                </div>
              </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>
        
        {{ with .Params.social }}
        <div class="row">
          <div class="col-12">
            <h3>Contact</h3>
            <ul class="network-icon">
              {{ range . }}
              <li>
                <a href="{{ .link }}" {{ if not (strings.HasPrefix .link "mailto:") }}target="_blank" rel="noopener"{{ end }}>
                  <i class="{{ .icon_pack }} {{ .icon }} big-icon"></i>
                  {{ with .label }}<span>{{ . }}</span>{{ end }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</article>
{{- end -}}
